$base-font-size: 16px
$base-line-height: 24px

$total-columns: 7 
$column-width: 2.5em
$gutter-width: 1.25em
$grid-padding: 0.625em
$container-style: magic

$break: 16

.grid
	+susy-grid-background
	
section.page
	
	+pre(1)
	+container($total-columns, $break)
	margin-left: 0
	
	header
		margin-top: $grid-padding
		#paper
			display: none
	

	h1.vision
		+leader(1)
		font-family: "miso"
		color: $rose
		font-size: px-to-em(19px)
		line-height: px-to-em(20.2px,16px)
		font-weight: 400
		letter-spacing: px-to-em(1.6px)

	#map
		@extend .full !optional
		#slides
			ul
				li
					+clearfix
					img
						position: relative
						margin-left: -(0.5*image-width("world1-mobile.png"))
						left: 50%

		#steps
			+clearfix
			#arrow_left
				+span-columns(1)
			#arrow_right
				+span-columns(1 omega)
			#text
				ul
					li
						+span-columns(4, $total-columns)
						+hyphenation
						display: none

					
	footer
		@extend .full !optional
		ul
			li.nline
				width: columns($total-columns)
			li.nopadding
				padding-left: 0
				
	#mailing-list
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "mail-mobile", true)
		.mailing_list
			#icon
				+assign-sprite-background($assets)
				+sprite($assets, "subscribe-mobile", true)
				+pre(2)
				
			#spiegazione
				+float-left
				+span-columns(5)
				+pre(2)
				p
					text-transform: uppercase
					font-family: "miso"
					font-weight: 400       
					color: $blue
					font-size: px-to-em(14px)
		.notice
			+pre(2)
		fieldset
			+span-columns(5)
			+pre(2)
			border: none
			padding: 0
			p
				margin: 0
				padding: 0
				label
					display: none
				input 
					width: 100%
					border: 2px solid $blue
					padding: px-to-em(10px)
					color: $blue
					font-family: "source sans pro"
				input::-webkit-input-placeholder
					color: $blue
					font-family: "source sans pro"
		.buttons
			input
				float: right
				background-color: $yellow
				color: $black
				border: 2px solid $blue
				margin-top: 4px	
				text-transform: uppercase
				font-family: "miso"
				margin-bottom: 10px
			input:hover
				text-decoration: underline			
	#faq
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "bubble-mobile", true)
		ul.questions
			list-style: none
			+pre(1)
			+span-columns(5 omega)
			li
				h3
					font-family: "source sans pro"
					font-weight: 600
					font-size: px-to-em(16px)
					line-height: px-to-em(40px,24px)
					color: $black
					
					i
						margin-top: 3px
						position:relative
						+float-left
						margin-left: -(sprite-height($assets,"questionmark")+6px)
						+assign-sprite-background($assets)
						+sprite($assets, "questionmark", true)
					
					&.ui-accordion-header-active
						i
							margin-left: 13px -(sprite-height($assets,"questionmark_color"))
							+sprite($assets, "questionmark_color", true)
					
					span:hover
						color: $purple
						background-color: $acqua 
				p
					clear: both
					font-family: "source sans pro"
					font-weight: 400
					font-style: italic
					font-size: px-to-em(12px)
					line-height: px-to-em(20px)
					color: $purple
				 
	#submit-project
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "pointer-mobile", true)
		.submit
			#spiegazione
				+span-columns(5)
				+pre(2)
				margin-top: -35
				p
					text-transform: uppercase
					font-family: "miso"
					font-weight: 400       
					color: $blue
					font-size:  px-to-em(14px)
					line-height: px-to-em(20px)
				h4
					display: inline
					text-transform: uppercase
					font-family: "miso"
					font-weight: 400       
					color: $rose
					font-size:  px-to-em(20px)
			
				#icon-doc1
					+assign-sprite-background($assets)	
					+sprite($assets, "doc1-mobile", true)

					margin-top: 10px

				#icon-doc2
					+assign-sprite-background($assets)	
					+sprite($assets, "doc2-mobile", true)

					margin-top: 10px
					
			
				#icon-doc3
					+assign-sprite-background($assets)	
					+sprite($assets, "doc3-mobile", true)

					margin-top: 10px
					margin-bottom: 10px
			.border-dashed
				height: 1px
				+span-columns(7,7)
				overflow:visible
				border-top: 1px dashed $blue
				margin-top: 30px
				margin-bottom: 30px
				#icon-plus1
					+assign-sprite-background($assets)	
					+sprite($assets, "plus1-mobile", true)
					+pre(3)
					margin-top: -10px
				#icon-plus2
					+assign-sprite-background($assets)	
					+sprite($assets, "plus2-mobile", true)
					+pre(3)
					margin-top: -10px	
			#icon-number1
				+assign-sprite-background($assets)	
				+sprite($assets, "one-mobile", true)
				+pre(1)
				+span-columns(1)

			#icon-number2
				+assign-sprite-background($assets)	
				+sprite($assets, "two-mobile", true)
				+pre(1)
				+span-columns(1)
			#icon-number3
				+assign-sprite-background($assets)	
				+sprite($assets, "three-mobile", true)
				+pre(1)
				+span-columns(1)
			
			
#mailing-list,#faq,#submit-project
	@extend .full !optional
	@extend .spined !optional
	+clearfix
	header
		@extend .pointer !optional
		padding-top: 10px
		&.ui-state-hover, &.ui-accordion-header-active
			h2
				span
					color: $purple
					background-color: $acqua
		
	a span.icon
		margin-left: 20px
		+span-columns(2,$break)
	h2
		+span-columns(5 omega,$total-columns)
		@extend .section_title !optional
		margin-top: 0
		span 
			@extend .hover !optional

	section
		+span-columns($total-columns)
		ul
			@extend .noindent !optional

+at-breakpoint(10)
	section.page
		+pre(1)