$base-font-size: 16px
$base-line-height: 24px

$total-columns: 7 
$column-width: 2.5em
$gutter-width: 1.25em
$grid-padding: 0.625em
$container-style: magic

$break: 16

body
	-webkit-font-smoothing: antialiased
.ul
	text-decoration: underline
.hl
	background-color: $yellow
.section_title
	font-family: "miso"
	font-weight: 200	
	text-transform: uppercase
	color: $black
	font-size: px-to-em(17px,16px)
	line-height: px-to-em(16px,17px)
	span
		font-size: px-to-em(19px,17px)
		line-height: px-to-em(18px,17px)
.noindent 
	padding: 0
	margin: 0

.borded
	//@include border-box-sizing
	border: 1px $blue solid

.hover
	&:hover
		color: $purple
		background-color: $acqua
		
i
	font-style: italic
	font-family: "source sans pro"
	text-transform: none
	
.spined
	$image: image-url("textures/spined.png")
	background: $image repeat-x left top
	
.arrow
	@include assign-sprite-background($assets)
	@include float-left
	margin-right: 15px

.clear-box
	clear: both	
.button_container
	+pre(2)
	display: inline-block
	position: relative
	$image: image-url("textures/button_middle_bg.png")
	background: $image repeat-x left top
	width: auto
	height: 35px
	margin-bottom: 20px
	overflow: visible
	.corner_left
		position: absolute
		z-index: 10
		width: 5px
		height: 35px
		@include assign-sprite-background($assets)
		@include replace-with-sprite($assets,"button_corner_left")
	.corner_right
		right: -3px
		position: relative
		z-index: 9
		float: right
		width: 3px !important
		height: 3px !important
		@include assign-sprite-background($assets)
		@include replace-with-sprite($assets,"button_corner_right")
	.buttons
		margin: 0
	.yellow_button
		position: relative
		float: left
		top: 5px
		left: 5px
		a
			position: relative
			display: inline-block
			background: $yellow
			border: 1px solid white
			outline: 2px solid $blue
			
			color: $black
			text-transform: uppercase !important
			font-family: "miso"
			font-weight: 200 !important
			text-decoration: none
			font-size: px-to-em(21px) !important
			line-height: px-to-em(19px,21px) !important
			padding: 4px 10px
.button_container:hover
	.yellow_button
		a 
			text-decoration: underline
.button_container:active
	.corner_left
		display: none
	.corner_right
		display: none
	.yellow_button
		top: 2px
		left: 2px
			
			

.pointer
	cursor: pointer
div.success
	$image: image-url("textures/dash_green.png")
	background: $image repeat left top
	margin: 20px 0
	+span-columns(5 omega,7)
	margin-left: 30%
	div.box
		border: 3px solid $green
		padding: px-to-em(10px) px-to-em(30px) px-to-em(10px) 0
		span.msg
			text-transform: uppercase
			font-family: "miso"
			font-weight: 400	 
			color: $green
			font-size: px-to-em(28px)
			background-color: white
			padding: 3px 10px
			display: inline-block
			margin-left: 10px
			width: 85%
		span.symbol
			border: 3px solid $green
			padding: 10px 3px
			margin-left: -(image-width("assets/check-mobile.png")*.8)
			display: inline-block
			background-color: white
			i
				@include assign-sprite-background($assets)
				@include replace-with-sprite($assets,"check-mobile")
div.error
	$image: image-url("textures/dash_red.png")
	background: $image repeat left top
	margin: 20px 0
	+span-columns(5 omega,7)
	margin-left: 30%
	div.box
		border: 3px solid $rose
		padding: px-to-em(10px) px-to-em(30px) px-to-em(10px) 0
		span.msg
			text-transform: uppercase
			font-family: "miso"
			font-weight: 400	 
			color: $rose
			font-size: px-to-em(28px)
			background-color: white
			padding: 3px 0 0 5px
			display: inline-block
			margin-left: 10px
			width: 85%
		span.symbol
			border: 3px solid $rose
			padding: 10px 20px
			margin-left: -40px
			display: inline-block
			background-color: white
			i
				@include assign-sprite-background($assets)
				@include replace-with-sprite($assets,"exclamation-mobile")
div.notice
	$image: image-url("textures/dash_red.png")
	background: $image repeat left top
	margin: 20px 0
	+span-columns(5 omega,7)
	margin-left: 30%
	div.box
		border: 3px solid $rose
		padding: px-to-em(10px) px-to-em(30px) px-to-em(10px) 0
		span.msg
			text-transform: uppercase
			font-family: "miso"
			font-weight: 400	 
			color: $rose
			font-size: px-to-em(28px)
			background-color: white
			padding: 3px 10px
			display: inline-block
			margin-left: 10px
		span.symbol
			border: 3px solid $rose
			padding: 10px 20px
			margin-left: -40px
			display: inline-block
			background-color: white
			i
				@include assign-sprite-background($assets)
				@include replace-with-sprite($assets,"exclamation-mobile")

section.page
	+susy-grid-background
	+pre(1)
	+container($total-columns, $break)
	margin-left: 0
	#description
		+hyphenation
	
	header
		@include clearfix
		margin-top: $grid-padding
		#logo
			margin-bottom: 12px
			@include clearfix
			@include float-left
			@include logo($assets,"mobile")
			.logo_text
				margin: 0 !important
		#number
			height: 50px
			width: 75px
			background-color: $blue
			@include float-left
			margin: 10px
		nav.navigation
			padding: 0
			clear: both
			display: block
			ul
				list-style-type: none
				position: relative
				float: left
				margin: 0
				padding: 0
				width: 33%
				&:first-child
					li 
						padding: 0 10px 0 0
				&:last-child
					li 
						background: none
				li
					background: image-url("assets/dashed.png") repeat-y right top
					padding: 0 10px
					margin: 0
					a
						margin: 0
						padding: 0
						vertical-align: text-top
						@extend .hover !optional
						display: inline-block
						font-family: "miso"
						color: $black
						background-color: $yellow
						font-size: px-to-em(12px)
						line-height: px-to-em(13px,12px)
						letter-spacing: px-to-em(2px)
						text-transform: uppercase
						font-weight: 400
					.publish
						opacity: 0.4
		#paper
			display: none
			margin-top: 10px
			@include pre(1)
			@include float-left
			span
				&.pdf_icon
					@include assign-sprite-background($assets)
					@include replace-with-sprite($assets,"pdf_icon")
					@include float-left
			a
				@extend .hover !optional
				@include float-left
				font-family: "miso"
				color: $black
				background-color: $yellow
				font-size: 14px
				text-transform: uppercase
				font-weight: 400
				margin-left: 10px
				
		#social
			@include float-left
			@include clearfix
			.facebook
				width: 20px
				height: 20px
				margin: 10px
				@include float-left  
				background-color: $yellow
			.twitter
				width: 20px
				height: 20px
				margin: 10px
				@include float-left
				background-color: $yellow
				
		.banner-container
			display: none
			.banner-call
				+span-columns(7,16)
				position: relative
				padding: 16px
				margin-top: 40px
				.border1, .border2
					width: 370px
					height: 130px
					border: 2px solid $blue
					background: white
					position: absolute
				.border1
					top: -3px
					left: -3px
				.border2
					top: 0
					left: 0
				.bg-dash
					width: 340px
					height: 140px
					$image: image-url("textures/dash_blue.png")
					background: $image repeat left top
					position: absolute
					top: -20px
					left: -20px
				.bg-white
					width: 330px
					height: 95px
					background: white
					position: absolute
					top: 10px
					left: 10px
				.icon
					width: 101px
					height: 67px
					+assign-sprite-background($assets)
					+sprite($assets, "icon_call4projects", true)
					position: absolute
					z-index: 12
					top: -31px
					right: 72px
				a
					+span-columns(10,16)
					font-family: "miso"
					color: $black
					background-color: $yellow
					font-size: px-to-em(30px)
					line-height: px-to-em(32px,30px)
					letter-spacing: px-to-em(2px)
					text-transform: uppercase
					font-weight: 200
					white-space: normal
					text-decoration: underline
					z-index: 9
					position: relative
				a:hover
					color: $purple
					background-color: $acqua
	

	h1.vision
		+leader(1)
		font-family: "miso"
		color: $rose
		font-size: px-to-em(19px)
		line-height: px-to-em(20.2px,16px)
		font-weight: 400
		letter-spacing: px-to-em(1.6px)
		margin: 20px 0

	#map
		padding: 0
		@extend .full !optional
		#slides
			ul
				li
					+clearfix
					img
						position: relative
						margin-left: -(0.5*image-width("world1-mobile.png"))
						left: 50%

		#steps
			height: 86px
			margin: 0
			+clearfix
			#arrow_left, #arrow_right
				margin-top: 23px
			#arrow_left
				+span-columns(1)
			#arrow_right
				+span-columns(1 omega)
			#text
				+span-columns(5,7)
				+clearfix
				margin-top: 18px
				ul
					list-style-type: none
					display: block
					li
						+span-columns(5,5)
						+hyphenation
						display: none
						#arrow1,#arrow2,#arrow3
							display: none
							+span-columns(1)
						#title
							+span-columns(5,5)
							margin: 0
							p
								+span-columns(5,5)
								color: $blue
								text-transform: uppercase
								whitespace: nowrap
								font-size: px-to-em(12px)
								line-height: px-to-em(15px,12px)
								letter-spacing: px-to-em(1.6px)
								margin-top: 0
								margin-bottom: 0
								margin-right: 0
								
							h4
								display: inline
								color: $rose
								text-transform: uppercase
								font-weight: 400
								font-size: px-to-em(19px)
								line-height: px-to-em(17px,19px)
								letter-spacing: px-to-em(1.6px)
								margin-bottom: 3px
								
								
	.banner-container
		height: 240px
		margin-top: -25px
		.banner-call
			+span-columns(5,7)
			+pre(1)
			position: relative
			padding: 16px
			margin-top: 60px
			margin-bottom: 40px
			ul
				padding: 0 0 0 10px
				margin: 7px 0 0 0
				li
					display: none
			.border1, .border2
				width: 270px
				height: 130px
				border: 2px solid $blue
				background: white
				position: absolute
			.border1
				top: -3px
				left: -3px
			.border2
				top: 0
				left: 0
			.bg-dash
				width: 240px
				height: 140px
				$image: image-url("textures/dash_blue.png")
				background: $image repeat left top
				position: absolute
				top: -20px
				left: -20px
			.bg-white
				width: 230px
				height: 95px
				background: white
				position: absolute
				top: 10px
				left: 10px
			.icon
				width: 101px
				height: 67px
				+assign-sprite-background($assets)
				+sprite($assets, "icon_call4projects", true)
				position: absolute
				z-index: 12
				top: -31px
				right: 0
			a
				+span-columns(5,7)
				font-family: "miso"
				color: $black
				background-color: $yellow
				font-size: px-to-em(24px)
				line-height: px-to-em(26px,24px)
				letter-spacing: px-to-em(2px)
				text-transform: uppercase
				font-weight: 200
				white-space: normal
				text-decoration: underline
				z-index: 9
				position: relative
			a:hover
				color: $purple
				background-color: $acqua
			
	#explanation
		padding-top: 10px
		ul
			li
				h2
					margin-top: 0
					margin-bottom: 10px
				p
					margin: 0 0 20px 0
	footer
		clear: both
		#prefooter
			.box
				margin: 10px 0
				border: 1px $blue solid			
				color: $blue
				font-family: "miso"
				text-transform: uppercase						
				padding-right: 20px
				padding-left: 20px
			.local
				@include clearfix
				margin-bottom: 10px
				.number
					+logo($assets,"mobile")
					+clearfix
					+float-right
					margin-top: 20px							
				.spiegazione
					+float-right
					+span-columns(3)
					font-family: "miso"
					h2
						color: $rose
						font-weight: 400
						font-size: px-to-em(19px)
						line-height: px-to-em(17px,19px)
					p
						color: $blue
						text-transform: uppercase
						font-family: "miso"
						font-weight: 400       
						color: $blue
						font-size: px-to-em(12px)
						line-height: px-to-em(15px,12px)
						letter-spacing: px-to-em(2px)
	
		.blue
			@extend .full !optional
			clear: both
			@extend .borded !optional
			border-bottom: none
			ul
				@include horizontal-list-container
				margin-top: 1px
				padding: 0 10px 0 10px
				li
					@include horizontal-list-item
					font-family: "miso"
					font-weight: 400       
					color: $blue
					font-size: px-to-em(14px)
					text-transform: uppercase
					margin-top: 3px
					p
						display: inline
						color: $blue
					a
						background-color: yellow
						color: black
						@extend .hover !optional
					.selected
						@extend .borded !optional
				li.nline
					width: columns($total-columns)
				li.nopadding
					padding-left: 0
			.rights
				font-size: px-to-em(13px)
				line-height: px-to-em(16px)
				clear: both
				font-family: "miso"
				font-weight: 400       
				color: $blue
				text-transform: uppercase
				margin: 3px 10px 10px 10px
				p
					margin: 3px 0
				a
					background-color: yellow
					color: black
					@extend .hover !optional

			
	#mailing-list, #think, #submit-project, #publish, #faq
		h2
			letter-spacing: px-to-em(1px)
			span.hl
				span.ul
					line-height: px-to-em(27px, 21px)
			span.subtitle
				display: block
				margin-left: 25px
				line-height: px-to-em(19px, 19px)
		#spiegazione
			+float-left
			+span-columns(5)
			+pre(2)
			p
				text-transform: uppercase
				font-family: "miso"
				font-weight: 400       
				color: $blue
				font-size: px-to-em(12px)
				line-height: px-to-em(15px,12px)
				letter-spacing: px-to-em(2px)
				margin: 0 0 10px 0
			p.i
				margin: 0 0 20px 0 !important
				letter-spacing: normal !important
				font-style: italic
				font-family: "source sans pro" !important
				text-transform: none !important
				
				
	#mailing-list
		#mail_submit
			background-color: $yellow
			border: none
			padding: 4px 10px
			border: 1px solid white
			outline: 2px solid $blue
			color: $black
			text-transform: uppercase !important
			font-family: "miso"
			font-weight: 200 !important
			text-decoration: none
			font-size: px-to-em(21px) !important
			line-height: px-to-em(19px,21px) !important
			&:hover
				text-decoration: underline
			

		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "mobile_icon_subscribe", true)
		
		#mail_form
			overflow: visible
		
		.mailing_list
			#icon
				+assign-sprite-background($assets)
				+sprite($assets, "subscribe-mobile", true)
				+pre(2)
				margin-bottom: 15px
				margin-top: 5px
				
				
			#spiegazione
				+float-left
				+span-columns(5)
				+pre(2)
				p
					text-transform: uppercase
					font-family: "miso"
					font-weight: 400       
					color: $blue
					font-size: px-to-em(12px)
					line-height: px-to-em(15px,12px)
					letter-spacing: px-to-em(2px)
					
		
		fieldset
			+span-columns(5)
			+pre(2)
			border: none
			padding: 0
			margin-top: 10px
			margin-bottom: 0
			p
				margin: 0
				padding: 0
				label
					display: none
				input
					font-weight: 400
					font-style: italic
					font-size: px-to-em(12px)
					line-height: px-to-em(16px,12px) 
					width: 100%
					border: 2px solid $blue
					padding: px-to-em(10px)
					color: $blue
					font-family: "source sans pro"
				input::-webkit-input-placeholder
					color: $blue
					font-family: "source sans pro"

	#faq
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "mobile_icon_question", true)
		ul.questions
			list-style: none
			+pre(1)
			+span-columns(5 omega)
			li
				h3
					font-family: "source sans pro"
					font-weight: 600
					font-size: px-to-em(16px)
					line-height: px-to-em(20px,16px)
					color: $black
					margin: 20px 0
					
					i
						margin-top: 3px
						position: absolute
						+float-left
						margin-left: -(sprite-height($assets,"questionmark")+6px)
						+assign-sprite-background($assets)
						+sprite($assets, "questionmark", true)
					
					&.ui-accordion-header-active
						i
							margin-left: 13px -(sprite-height($assets,"questionmark_color"))
							+sprite($assets, "questionmark_color", true)
					
					span:hover
						color: $purple
						background-color: $acqua 
				p
					clear: both
					font-family: "source sans pro"
					font-weight: 400
					font-style: italic
					font-size: px-to-em(12px)
					line-height: px-to-em(16px,12px)
					color: $purple
					margin: 0

				
	#think
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "mobile_icon_think", true)
	#publish
		opacity: 0.4
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "mobile_icon_publish", true)
					
						
	#think,#publish                                      	
		#spiegazione
			+float-left
			+span-columns(5)
			+pre(2)
			p
				text-transform: uppercase
				font-family: "miso"
				font-weight: 400       
				color: $blue
				font-size: px-to-em(12px)
				line-height: px-to-em(15px,12px)
				letter-spacing: px-to-em(2px)
				margin: 0 0 10px 0
			p.i
				margin: 0 0 10px 0
				letter-spacing: normal
				font-style: italic
				font-family: "source sans pro"
				text-transform: none
					
		.buttons
			//+pre(2)
						 
	#submit-project
		a
			span.icon
				+assign-sprite-background($assets)
				+sprite($assets, "mobile_icon_submit", true)
		.submit
			#spiegazione
				+span-columns(5)
				+pre(2)
				margin-top: -35
				p
					text-transform: uppercase
					font-family: "miso"
					font-weight: 400       
					color: $blue
					font-size: px-to-em(12px)
					line-height: px-to-em(15px,12px)
					letter-spacing: px-to-em(2px)
					i
						letter-spacing: normal	
				h4
					display: inline
					text-transform: uppercase
					font-family: "miso"
					font-weight: 400       
					color: $rose
					font-size:  px-to-em(20px)
			
				#icon-doc1
					+assign-sprite-background($assets)	
					+sprite($assets, "doc1-mobile", true)

					margin-top: 10px

				#icon-doc2
					+assign-sprite-background($assets)	
					+sprite($assets, "doc2-mobile", true)

					margin-top: 10px
					margin-bottom: 15px

					
			
				#icon-doc3
					+assign-sprite-background($assets)	
					+sprite($assets, "doc3-mobile", true)

					margin-top: 10px
					margin-bottom: 10px
			.border-dashed
				height: 1px
				+span-columns(7,7)
				overflow: visible
				border-top: 1px dashed $blue
				margin-top: 40px
				margin-bottom: 30px
				#icon-plus1
					+assign-sprite-background($assets)	
					+sprite($assets, "plus1-mobile", true)
					+pre(3)
					margin-top: -10px
				#icon-plus2
					+assign-sprite-background($assets)	
					+sprite($assets, "plus2-mobile", true)
					+pre(3)
					margin-top: -10px	
			#icon-number1
				+assign-sprite-background($assets)	
				+sprite($assets, "one-mobile", true)
				+pre(1)
				+span-columns(1)

			#icon-number2
				+assign-sprite-background($assets)	
				+sprite($assets, "two-mobile", true)
				+pre(1)
				+span-columns(1)
			#icon-number3
				+assign-sprite-background($assets)	
				+sprite($assets, "three-mobile", true)
				+pre(1)
				+span-columns(1)
			
			
#mailing-list,#faq,#submit-project,#think,#publish
	@extend .full !optional
	@extend .spined !optional
	+clearfix
	header
		@extend .pointer !optional
		padding-top: 10px
		&.ui-state-hover, &.ui-accordion-header-active
			h2
				span
					color: $purple
					background-color: $acqua
		
	a span.icon
		margin-left: 20px
		+span-columns(2,$break)
	h2
		+span-columns(5 omega,$total-columns)
		@extend .section_title !optional
		margin-top: 0
		span 
			@extend .hover !optional

	section
		+span-columns($total-columns)
		ul
			@extend .noindent !optional
			
	hr.footer
		border-top: 1px $blue solid
		margin-top: 0px

+at-breakpoint(10)
	section.page
		+pre(1)