+at-breakpoint($break)
	.wide
		+span-columns(13, $break)
	.borded
		border: 2px $blue solid
	
	.icon
		+assign-sprite-background($assets)
		+float-left

	.grid
		+susy-grid-background
		
	section.page
		header
			#logo
				+logo($assets,"web")
			nav-header
				+pre(3)
				clear: none
				float: left
				padding-top: 0
				ul
					li 
						display: block
						float: none
						background: none
						width: 100%
						min-height: px-to-em(20px)
						padding-left: 0
						a
							@extend .hover !optional
							font-size: px-to-em(14px)
							font-weight: 400
			#paper
				display: block
				margin-top: 0
	
		footer
			@extend .wide !optional
			@extend .borded !optional
			li.nline
				float: none
			
		hr.footer
			@extend .borded !optional


		#description
			+span-columns(11, $break)
			h1.vision
				font-size: px-to-em(30px)

		#explanation
			+span-columns(10, $break)
			ul
				li
					margin-top: px-to-em(15px)	
					margin-bottom: px-to-em(15px)	
					h2
						font-size: px-to-em(24px)
						display: inline
						text-decoration: underline
						span
							text-decoration: underline
					p
						display: inline
						font-size: px-to-em(18px)
						
		#mailing-list
			a
				span.icon
					+sprite($assets, "mail", true)
					&.hover
						+sprite($assets, "mail_inverted", true)	
			.mailing_list  
				#icon1
					+pre(2)
					@extend .icon
					+replace-with-sprite($assets,"dashed")
				#icon2
					@extend .icon
				#spiegazione
					+span-columns(3,13)
				
			
		#faq
			a
				span.icon
					+assign-sprite-background($assets)
					+sprite($assets, "bubble", true)
					&:hover
						+sprite($assets, "bubble_inverted", true)
			  
		#submit-project
			a
				span.icon
					+assign-sprite-background($assets)
					+sprite($assets, "pointer", true)
					&:hover
						+sprite($assets, "pointer_inverted", true)
			.submit  
				clear:both
				#documenti
					clear: both
				#icon-number1
					@extend .icon !optional
					+replace-with-sprite($assets,"one")
				#icon-number2
					@extend .icon !optional
					+replace-with-sprite($assets,"two")
				#icon-number3 
					@extend .icon !optional
					+replace-with-sprite($assets,"three")
				#icon-doc1
					@extend .icon !optional
					+replace-with-sprite($assets,"doc1")
				#icon-doc2
					@extend .icon !optional
					+replace-with-sprite($assets,"doc2")
				#icon-doc3
					@extend .icon !optional
					+replace-with-sprite($assets,"doc3")
				#icon-plus1
					margin-left: 5px
					margin-right: 5px
					@extend .icon !optional
					+replace-with-sprite($assets,"plus1")
				#icon-plus2
					margin-left: 5px
					margin-right: 5px
					@extend .icon !optional
					+replace-with-sprite($assets,"plus2")
				#spiegazione
					+span-columns(3,13)
											
		#mailing-list,#faq,#submit-project
			@extend .wide !optional
			a span.icon
				+span-columns(3,$break)
			h2.section_title
				+span-columns(8,$break)
			section
				+pre(4)
				+span-columns(9,13)
			h2
				span
					font-size: px-to-em(20px)
				span.hl
					display: block
				font-size: px-to-em(18px)	
			
				

		#map
			@extend .wide !optional
			#slides
				min-height: 334px
			#steps
				#arrow_right
					display: none
				#arrow_left
					display: none	
				#text			
					ul				
						+horizontal-list
						li
							+span-columns(4,13)
							+horizontal-list-item
							white-space: normal
							height: 180px
							display: block
							position: relative
							p
								font-size: 14px
								text-transform: uppercase
								+pre(1,4)
								
									
							#title
								margin-botton: 20px
								margin-top: 20px
								#arrow1
									@extend .arrow !optional
									@extend .icon
									+replace-with-sprite($assets,"arrow1")
									margin-right: px-to-em(27px)
								#arrow2
									@extend .arrow !optional
									@extend .icon
									+replace-with-sprite($assets,"arrow2")
									margin-right: px-to-em(27px)
								#arrow3
									@extend .arrow !optional
									@extend .icon
									+replace-with-sprite($assets,"arrow3")
									margin-right: px-to-em(27px)
								h4
									display: inline
									font-size: 24px
									text-transform: uppercase
									letter-spacing: 2px

								
							&:hover,&.selected
								@extend .borded !optional
				
							
	