@mixin replace-with-sprite($assets, $sprite)
	@include hide-text
	$sprite-file:  sprite-file($assets, $sprite)
	background-position: sprite-position($assets, $sprite)
	width: image-width( $sprite-file )
	height: image-height( $sprite-file )

@mixin assign-sprite-background($assets)
	background-image: sprite-url($assets)
	background-repeat: no-repeat
	display: block

@mixin logo()
	span
		@include assign-sprite-background($assets)
		@include float-left	
		
		.num
			margin-top: 3px
		
		&.sone
			@extend .num
			@include replace-with-sprite($assets,"stripe1")
		&.stwo
			@extend .num
			@include replace-with-sprite($assets,"stripe2")
		&.sthree
			@extend .num
			@include replace-with-sprite($assets,"stripe3")
		&.sfour
			@extend .num
			@include replace-with-sprite($assets,"stripe4")
			
		&.zero
			@extend .num
			@include replace-with-sprite($assets,"l0")
		&.one
			@extend .num
			@include replace-with-sprite($assets,"l1")
		&.two
			@extend .num
			@include replace-with-sprite($assets,"l2")
		&.three
			@extend .num
			@include replace-with-sprite($assets,"l3")
		&.four
			@extend .num
			@include replace-with-sprite($assets,"l4")
		&.five
			@extend .num
			@include replace-with-sprite($assets,"l5")
		&.six
			@extend .num
			@include replace-with-sprite($assets,"l6")
		&.seven
			@extend .num
			@include replace-with-sprite($assets,"l7")
		&.eight
			@extend .num
			@include replace-with-sprite($assets,"l8")
		&.nine
			@extend .num
			@include replace-with-sprite($assets,"l9")
		&.logo_text
			@include replace-with-sprite($assets,"logo")
			margin-left: 18px