body
	-webkit-font-smoothing: antialiased

.section_title
	font-family: "miso"
	font-weight: 200
	font-size: 32px
	line-height: 40px
	color: $black

.noindent 
	padding: 0
	margin: 0

.borded
	border: 1px $blue solid

.ul
	text-decoration: underline
.hl
	background-color: $yellow

.hover
	&:hover
		color: $purple
		background-color: $acqua