$base-font-size: 16px

$total-columns: 7 
$column-width: 2.5em
$gutter-width: 1.25em
$grid-padding: $gutter-width
$container-style: magic

$break: 16

.grid
	+susy-grid-background
	
	


.full
	+span-columns($total-columns omega)
	
section.page
	+container($total-columns, $break)
	@extend .grid
	margin-left: 0
	
	footer
		@extend .full
	
#map
	@extend .full
	#slides
		ul
			li
				img
					max-width: 100%
					max-height: 100%
	#steps
		ul
			li
				+span-columns(2,$total-columns)
				
#mailing-list,#faq,#submit-project
	@extend .full
	a span.icon
		+span-columns(2,$break)
	h2.section_title
		+span-columns($total-columns)
	section
		+span-columns($total-columns)
		ul
			@extend .noindent
		

	
+at-breakpoint($break)
	.wide
		+span-columns(13, $break)
	.borded
		border: 2px $blue solid	
	
	.grid
		+susy-grid-background
	section.page
		footer
			@extend .wide
			@extend .borded
		hr.footer
			@extend .borded

		
	#description
		+span-columns(11, $break)
	
	#map
		@extend .wide
		#slides
			@extend .borded
			ul
				li
					
		#steps
			ul
				li
					+span-columns(4,13)
					&:hover,&.selected
						@extend .borded
	#mailing-list,#faq,#submit-project
		@extend .wide
		a span.icon
			+span-columns(2,$break)
		h2.section_title
			+span-columns(8,$break)
		section
			+pre(2)
			+span-columns(10,13)