@import susy
@import "compass/typography/vertical_rhythm"

$base-font-size: 16px

$total-columns: 16 
$column-width: 40px
$gutter-width: 10px
$grid-padding: 10px
$container-style: magic

$break: 16

.grid
	@include susy-grid-background



	
.page
	@include container($total-columns, $break) 
	margin-left: 0
	
@include at-breakpoint($break)
	.grid
		@include susy-grid-background
	
	.wide
		@include span-columns(13, $break)
	#mailing-list,#faq,#submit-project
		a span.icon
			@include span-columns(2,$break)
		h2.section_title
			@include span-columns(8,$break)
		section
			@include pre(1)
			@include span-columns(10,13)
		