!!!
%html{:lang => "en"}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'ext/html; charset=utf-8'}/
		%title Newsletter
		= stylesheet_link_tag 'mailing-list'
	%body
		%table#esterna{:cellspacing=> "10", :cellpadding=> "0", :width=>"100%"}
			%tr
				%td#esternotd{:align=> "center"}		
					%table#main{:width=> "580",	:border=> "0",	:cellspacing=> "0",	:cellpadding=> "0"}
						%tr
							%td
								%h2.title From Local to Global
								%p.subtitle Subtitle placeholder text
								%p.description 
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with 
									my name printed on it? Do you see a little Asian child with a blank expression on his face sitting 
									outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, 
									that's what you see at a toy store. And you must think you're in a toy store, 
									because you're here shopping for an infant named Jeb. 
									%a{href: 'c'} Read More
						%tr
							%td
								%h2.title From Local to Global
								%p.subtitle Subtitle placeholder text
								%p.description 
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with 
									my name printed on it? Do you see a little Asian child with a blank expression on his face sitting 
									outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, 
									that's what you see at a toy store. And you must think you're in a toy store, 
									because you're here shopping for an infant named Jeb. 
									%a{href: 'c'} Read More
						%tr
							%td
								%h2.title From Local to Global
								%p.subtitle Subtitle placeholder text
								%p.description 
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with 
									my name printed on it? Do you see a little Asian child with a blank expression on his face sitting 
									outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, 
									that's what you see at a toy store. And you must think you're in a toy store, 
									because you're here shopping for an infant named Jeb. 
									%a{href: 'c'} Read More
							