!!!
%html{:lang => "en"}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
		%meta{ 'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1.0' }
		%title Newsletter
		= stylesheet_link_tag 'mailing-list'
	%body
		
		%table#external
			%tr
				%td#externaltd		
					%table#main
						%tr
							%td
								.logo
								%p.month
									NEWSLETTER / 
									%span
										SEPTEMBER 2012
						%tr.story
							%td.story
								= image_tag('img1.png')
								%h1.title From Local to Global
								%p.subtitle SUBTITLE PLACEHOLDER TEXT
								%p.description 
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with 
									my name printed on it? Do you see a little Asian child with a blank expression on his face sitting 
									outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, 
									that's what you see at a toy store. And you must think you're in a toy store, 
									because you're here shopping for  
									%a{href: 'c'} Read More
								%hr.border
						%tr.story
							%td.story
								= image_tag('img1.png')
								%h1.title From Local to Global
								%p.subtitle SUBTITLE PLACEHOLDER TEXT
								%p.description 
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with 
									my name printed on it? Do you see a little Asian child with a blank expression on his face sitting 
									outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, 
									that's what you see at a toy store. And you must think you're in a toy store, 
									because you're here shopping for an infant named Jeb. 
									%a{href: 'c'} Read More
								%hr.border
								
