@import compass/utilities/sprites
@import compass/typography/text/replacement
@import compass/typography/lists/horizontal-list
@import compass/typography/lists/bullets
@import h5bp
@import susy
@import compass/typography/vertical_rhythm
@import compass/css3/hyphenation
@import compass/support


+h5bp-normalize
+establish-baseline

$legacy-support-for-ie: true

$assets-layout:smart
$assets: sprite-map("assets/*.png")

$blue: #001FFF
$purple: #6045FF
$rose: #FF4874
$yellow: #FFFF00
$black: #000
$acqua: #81FFD0
$green: #00FF80

@import partials/custom_mixins
@import partials/general
@import partials/fonts

@import partials/320grid
@import partials/960grid


@import partials/map
@import partials/explanation

*:focus
  outline-style: none
  outline-width: 0px

header
  @include clearfix
  #logo
    @include clearfix
    @include float-left
    @include logo($assets,"mobile")
    
  #number
    height: 50px
    width: 75px
    background-color: $blue
    @include float-left
    margin: 10px
      
  nav.navigation
    clear: both
    @extend .full !optional
    display: block
    +padding-leader(1)
    ul
      +horizontal-list-container
      li 
        +horizontal-list-item(14px)
        background: image-url("assets/dashed.png") repeat-y right top
        min-height: rhythm(1,13px)   
        width: columns(2)
        margin-top: 4px
        &:last-child
          background: none
        &.nopadding
          padding-left: 0
        
        a
          @extend .hover !optional
          font-family: "miso"
          color: $black
          background-color: $yellow
          font-size: px-to-em(12px)
          line-height: px-to-em(13px,12px)
          letter-spacing: px-to-em(2px)
          text-transform: uppercase
          font-weight: 400
          white-space: normal

  #paper
    margin-top: 10px
    @include pre(1)
    @include float-left
    span
      &.pdf_icon
        @include assign-sprite-background($assets)
        @include replace-with-sprite($assets,"pdf_icon")
        @include float-left
    a
      @extend .hover !optional
      @include float-left
      font-family: "miso"
      color: $black
      background-color: $yellow
      font-size: 14px
      text-transform: uppercase
      font-weight: 400
      margin-left: 10px
      

  #social
    @include float-left
    @include clearfix
    .facebook
      width: 20px
      height: 20px
      margin: 10px
      @include float-left  
      background-color: $yellow
    .twitter
      width: 20px
      height: 20px
      margin: 10px
      @include float-left
      background-color: $yellow
     
section.page
  #description
    +hyphenation
  
   
  
  footer
    clear: both
    @extend .borded !optional
    border-bottom: none
    ul
      @include horizontal-list-container
      margin-top: 1px
      padding: 0 10px 0 10px
      li
        @include horizontal-list-item
        font-family: "miso"
        font-weight: 400       
        color: $blue
        font-size: px-to-em(14px)
        text-transform: uppercase
        margin-top: 3px
        
        p
          display: inline
          color: $blue
        a
          background-color: yellow
          color: black
          @extend .hover !optional
          
        .selected
          @extend .borded !optional
    .rights
      font-size: px-to-em(13px)
      line-height: px-to-em(16px)
      clear:both
      font-family: "miso"
      font-weight: 400       
      color: $blue
      text-transform: uppercase
      margin: 3px 10px 10px 10px
      p
        margin: 3px 0
      a
        background-color: yellow
        color: black
        @extend .hover !optional
hr.footer
  border-top: 1px $blue solid
  margin-top: 0px
