@import susy
@import partials/fonts

body
  header
    background-color: blue
  
  #container
    #description
      h1
        font-family: "miso"
        font-size: 30px
        
    #mailing-list
      background-color: yellow 
       
    #faq
      background-color: yellow 
       
    #submit-project
      background-color: yellow  