$blue: #001FFF
$rose: #FF4874

table[id="esterna"]
	td[id="esternotd"]
		table[id="main"]
			h2
				color: $rose
				font-family: "Helvetica"
				font-size: 30px
				font-weight: bold
			p.description
				display: inline
				color: $blue
				font-family: "Helvetica"
			p.subtitle
				color: $rose
				font-size: 20px
				font-family: "Helvetica"
				text-transform: uppercase
			a
				font-family: "Helvetica"
				background-color: yellow
				