@import compass/utilities/sprites
@import compass/typography/text/replacement
@import compass/typography/lists/horizontal-list
@import compass/typography/lists/bullets
@import h5bp
@import susy
@import compass/typography/vertical_rhythm
@import compass/css3/hyphenation


+h5bp-normalize
+establish-baseline

$assets-layout:smart
$assets: sprite-map("assets/*.png")

@import partials/custom_mixins

$blue: #001FFF
$rose: #FF4874

.logo
	@include assign-sprite-background($assets)
	@include replace-with-sprite($assets,"logo")
	width: 580px
p.mese
	text-align: left
	color: $rose
	font-family: "Helvetica"
	font-size: 15px
	text-transform: uppercase
	span
		color: $blue

table[id="esterna"]
	td[id="esternotd"]
		
		table[id="main"]
			h2
				color: $rose
				font-family: "Helvetica"
				font-size: 30px
				font-weight: bold
			p.description
				display: inline
				color: $blue
				font-family: "Helvetica"
			p.subtitle
				color: $rose
				font-size: 20px
				font-family: "Helvetica"
				text-transform: uppercase
			a
				font-family: "Helvetica"
				background-color: yellow
				