/*
Syntax error: Invalid CSS after "#001FFF": expected expression (e.g. 1px, bold), was ";"
        on line 5 of /Users/piermariacosina/Documents/padrino/localactors/app/stylesheets/application.sass

1: @import susy
2: @import partials/fonts
3: 
4: 
5: $internet-blue: #001FFF;
6: 
7: 
8: body
9:   header
10:     background-color: blue

Backtrace:
/Users/piermariacosina/Documents/padrino/localactors/app/stylesheets/application.sass:5
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/scss/parser.rb:1134:in `expected'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/script/lexer.rb:199:in `expected!'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/script/parser.rb:486:in `assert_done'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/script/parser.rb:50:in `parse'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/script/parser.rb:166:in `parse'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/script.rb:31:in `parse'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:875:in `parse_script'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:627:in `parse_variable'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:562:in `parse_line'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:471:in `build_tree'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:490:in `block in append_children'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:489:in `each'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:489:in `append_children'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:345:in `_to_tree'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.2.3/lib/sass/plugin/rack.rb:51:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/rack-1.4.1/lib/rack/head.rb:9:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/rack-1.4.1/lib/rack/methodoverride.rb:21:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/padrino-core-0.10.7/lib/padrino-core/reloader.rb:250:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/padrino-core-0.10.7/lib/padrino-core/logger.rb:388:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sinatra-1.3.3/lib/sinatra/showexceptions.rb:21:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/rack-1.4.1/lib/rack/session/abstract/id.rb:205:in `context'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/rack-1.4.1/lib/rack/session/abstract/id.rb:200:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sinatra-1.3.3/lib/sinatra/base.rb:1389:in `block in call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sinatra-1.3.3/lib/sinatra/base.rb:1471:in `synchronize'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sinatra-1.3.3/lib/sinatra/base.rb:1389:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/padrino-core-0.10.7/lib/padrino-core/router.rb:83:in `block in call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/padrino-core-0.10.7/lib/padrino-core/router.rb:76:in `each'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/padrino-core-0.10.7/lib/padrino-core/router.rb:76:in `call'
/Users/piermariacosina/.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/rack-1.4.1/lib/rack/handler/webrick.rb:59:in `service'
/Users/piermariacosina/.rvm/rubies/ruby-1.9.3-p327/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/Users/piermariacosina/.rvm/rubies/ruby-1.9.3-p327/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/Users/piermariacosina/.rvm/rubies/ruby-1.9.3-p327/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"#001FFF\": expected expression (e.g. 1px, bold), was \";\"\A         on line 5 of /Users/piermariacosina/Documents/padrino/localactors/app/stylesheets/application.sass\A \A 1: @import susy\A 2: @import partials/fonts\A 3: \A 4: \A 5: $internet-blue: #001FFF;\A 6: \A 7: \A 8: body\A 9:   header\A 10:     background-color: blue"; }
