
.call.top
	.call-container
		%h1.main-title Call for Projects
		#icon-top
			.icon-call
			.icon-call
			.icon-top-bg
			.icon-top-bg2
		.icon-bg
		%h2 Dear Friend!
		%p
			Welcome to LocalActors.org, a website to create a direct
			link between those who run projects and those who want to support them.
			Few of such websites exist, but none is focusing on local non-for-profit
			projects world-wide while giving a chance to wide range of set-ups.
	.call-container
		%h2 Benefits
		%p
			By sumbmitting your project now you have the benefit of dedicated free help with publishing, longer time to rise money and most of all being seen by all new users when we launch the website in spring! 
			You need only one thing: to have a clear idea about what you want to achieve and how. We will help you to shape the project. We help you to establish what you need for your project to be a success (it might be financing, people help or some materials). We help you to plan your schedule so that is realistic and reliable to your supporters. We also help with writing the right things and ilLustarting them with pictures.
	.call-container		
		%h2 Project Admission
		%p
			In order to publish your project you should think about - results you want to achieve - how to do it - what you need for that - when and what you expect to reach within a month, three month or a year. For a start, try to answer the following questions in an e-mail to weare@localactors.org:
		%ul	
			%li Tell us about yourself and your organisation if you have one.
			%li It would be nice to have a picture of you!
			%li What is your project about and where does it take place?
			%li How do you want to achieve your mission?
			%li Is there anything about the project (pictures, videos, articles) that you would like to share with us?
			
.guidelines-container
	%h3 example
	.icon-arrow-down		
.guidelines-container
	.container-left.first
		%h1.title Rosella Lombok pride
		.icon-where
		%h2.subtitle Indonesia/Lombok Island
	.container-right		
		%h3
			Title / 
			%span geographic area
		%p
			Give your project a name that identifies what it is about. This will make it easier for us and your supporters to recognize and remember you.
		%p
			Your location will get you on the LocalActors.org map so anybody wishing to support your area will easily find you, knowing immediately the context in which the project is moving.
.guidelines-container
	.container-left
		%p
			In May 2010 we would like to launch a project of starting a new production of organic Rosella tea on Lombok. Lombok is an island in Indonesia, situated next to Bali. In order to support jobs and create sustainable future for local families in the area of Ketara we need to kick-start production. We work closely with the University of Mataram and the Agricultural School in Bogor (Java) to make sure cultivation of a new plant in the area will work and the farmers are given specific training. The output of the production of organic Rosella tea - its distribution to primarily non-residential customers - will establish a small visitor's centre at the organic farm. By its "single commodity" system this will stimulate Eco Tourism on the island, where a new international airport just opened;  this is the real outcome we strive to achieve.
		
		
		%ul
			%li
				%h1.title Project Plan:
			%li
				.icon-time
				%h2.subtitle
					May
					%span / meeting local authorities at Lombok
			%li
				.icon-time
				%h2.subtitle
					June
					%span / planning Rosella
			%li
				.icon-time
				%h2.subtitle
					September
					%span / first harvest and production of tea and other products from Rosella
			%li
				.icon-time
				%h2.subtitle
					September
					%span / new Visitors Centre built and opened (event with local production)
		%ul
			%li
				%h1.title Costs:
			%li.cost
				.icon-cost
				%h2.subtitle
					800 &#128;
					%span / kick start of the Rosella planting
			%li.cost
				.icon-cost
				%h2.subtitle
					1100 &#128;
					%span / building Visitors Centre
			%li.cost
				.icon-cost
				%h2.subtitle.total
					Total: 1900 &#128;
		%p
			The foundation is putting in-kind resources of the members time and work and also resources covering their travelling from Netherlands to Lombok, including basic accommodation costs (3600 EUR for 3 Foundation representatives); in kind resources of local experts incl. university experts is also another contribution.	
			
			
	.container-right		
		%h3
			Project description / 
			%span problems, objectives, how
		%ul
			%li
				%span 1.
				Tell us about the context in which your project is inscribed.
			%li
				%span 2.
				Explain what sort of problematics you found and what kind of objectives you would like to achieve through your project in order to solve them.
			%li
				%span 3.
				Tell us how the project is going to unfold along time. It's better to have a general plan step by step to help us and the future supporters envision how you are going to act, how long it will take and how much money is needed according to the different parts of the project.
			%li
				%span 4.
				While putting down all this information imagine you are directly talking to you future supporters, they need to understand as better as possible the whole project.
.guidelines-container
	.container-left
		%img{:alt=>"Rosella01", :src=>"images/rosella01.jpg"}
		%img{:alt=>"Rosella02", :src=>"images/rosella02.jpg"}
		%img{:alt=>"Rosella04", :src=>"images/rosella04.jpg"}
	.container-right		
		%h3
			Add photos and video
		%p
			Visual content is always the most effective and immediate way to show things. So what's better than pictures and videos to help your supporters better understand the environment, the people and the atmosphere of the project you're submitting.
		%p
			If you have already started your project you can show us the early stage of the process, otherwise you can simply show us the place where the project will be developed, the problematics you're trying to solve and the people you're involving.
		%p
			It would be nice to have a picture of you as the publisher and the group of people you are working with or trying to help. It will make your project specific and will get you more support.
		%h4
			Tips for upload
		%p
			Make sure the files you are trying to upload are not too heavy (we suggest max ##K)
		%p
			Make sure the content you're submitting is yours and not taken from some others' website, unless you're including pictures and videos made by others about you and your project (articles, tv reports, etc.)
.guidelines-container
	.container-left
		%img.photo-publisher{:alt=>"", :src=>"images/publisher_placeholder.png"}
		%h1.title.publisher AKKE M. DRAIJER-DE JONG
		%h2.subtitle.publisher foundation kebon sepatu
		%p
			The Foundation Kebon Sepatu is based in Netherlands and in Indonesia. It has launched already a second major project on Lombok, an island near to Bali. The families of the founders come from Lombok and the foundation is established on close work together with Indonesian and Lombok residents. Kebon Sepatu has currently twenty-seven members including voluntary staff, many of which are residents and some Board Members from the Netherlands spend several weeks a year on the island.
		%p
			The aim of Foundation Kebon Sepatu is to assist those who, through no fault of their own, but mainly through lack of choice and circumstances - have to deal with great disadvantages in educational, social, cultural, academic and economic aspects of life. The foundation is devoting its work to establishing better living condition for people on Lombok through sustainable local employment and training projects.
	.container-right		
		%h3
			Tell us your story
		%p
			People behind the project are as important as the project itself, and we want supporters to know the local actors and create a direct link with them.
		%ul
			%li
				%span 1.
				Introduce yourself (name, nationality, background and experience) and your organization if you have one ( where it's based, mission and partners).
			%li
				%span 2.
				Tell us about the motivations pushing you and/or your organization to submit such a project.
			%li
				%span 3.
				Let your supporters know previous experiences and projects that you or your organization did as a local actor.
				
.guidelines-container.last
	.icon-arrow-down	

.call
	.button_container			
		.corner_left
		%h4.buttons.yellow_button
			= partial "layouts/submit_email"
		.corner_right


.call
	.call-container
		%h1 Now you can promote your project
		%h2 Social Networks
		%p
			You can use you're social networks (facebook, twitter, linkedin, etc.) to share your project on Localactors.org. Family and friends are usually the first way to spread your idea and connect with more people, enlarging the number of possible supporters.
	.call-container
		%h2 Short and Simple	
		%p
			When you're promoting your project try to find few sentences to explain it in a simple and direct way. Sometimes people are a bit lazy or don't have time to read! They don't need to know immediately every detail about your project, it's enough to have a general outline of context and goals.
	.call-container
		%h2 Enlarge Connections
		%p
			Find local channels (tv, newspaper, radio) to promote your project and raise local awareness and engagement. People can support you in many ways, not just with money, but also with skills, knowledge and promotion.
	.call-container
		%h2 Don't Spam	
		%p
			While promoting your project try to keep it real, write dedicated messages and show the consistency of your project. Credibility is very important to have people believe in you and become active supporters.

.call	
	.call-container
		%h1 What to do next
		%h2 LocalActors.org will roll out in three steps
		%ol
			%li
				End of 2012 -Beginning of 2013 - LocalActors.org founding team & supporters
				gather first projects and get in touch with a kick-off community of users
			%li
				Early spring - Beta-test with self-registration of projects on the website
			%li
				Spring - Going live			
