%h1.terms Call for Projects
#terms
	#section
		#title Dear Friend!
		%p
			Welcome to LocalActors.org, a website to create a direct
			link between those who run projects and those who want to support them.
			Few of such websites exist, but none is focusing on local non-for-profit
			projects world-wide while giving a chance to wide range of set-ups.

	#section
		#subtitle If you (want to) run a project and would like to enter a new phase
		#subtitle look at our home page guidance and <a href="mailto:weare@localactors.org">get in contact</a>.
		%p
			To publish your project we need description of it 60-100 words
			(what you want to achieve, when and how), support needed to accomplish the project
			(money, people, materials) and information about yourself. We will give you our dedicated
			support to prepare an attractive page on LocalActors.org website to raise funds.
	#section
		#subtitle If you know anyone who would like to use this website for his/her project,
		%p
			ask them to get in contact with us. We will help to prepare material to publish,
			to attract interest and funding.
	#section
		#title WHAT TO DO NEXT
		#subtitle LocalActors.org will roll out in three steps
		%ol
			%li
				End of 2012 -Beginning of 2013 - LocalActors.org founding team & supporters
				gather first projects and get in touch with a kick-off community of users
			%li
				Early spring - Beta-test with self-registration of projects on the website
			%li
				Spring - Going live
