.guidelines-container
	.container-left
		%h1.title-project Rosella Lombok pride
		.icon
		%h2.subtitle Indonesia/Lombok Island
	.container-right
		%h3 Title / 
			%span Geographic area
		%ul
			%li Give your project a name that identifies what it is about. This will make it easier for us and your supporters to recognize and remember you.
			%li Include the geographic area where the project is going to take place in order to give a fast vision of the context in which the project is moving.
.guidelines-container
	.container-left
		%p
		%p
		%p
	.container-right
		%h3 Project description / 
			%span problems / objectives / how
		%ol
			%li Tell us about the context in which your project is inscribed.
			%li Explain what sort of problematics you found and what kind of objectives you would like to achieve through your project in order to solve them.
			%li Tell us how the project is going to unfold along time. It's better to have a general plan step by step to help us and the future supporters envision how you are going to act, how long it will take and how much money is needed according to the different parts of the project.
			%li While putting down all this information imagine you are directly talking to you future supporters, they need to understand as better as possible the whole project.