.call.top
	.call-container
		%h1.main-title Our Approach
		%h2 What is localactors.org?
		%p.highlight
			localactors.org is launched as a social enterprise to help anybody support good cause - non-for-profit - projects and to help those projects to get off the ground.
		%p
			We believe in local communities and people active in them.
			They know their needs and can help themselves to care for them:
			let it be a school coach trip or a new dwell in a village. What they need
			is a little support in financing, knowledge or materials to get things going.
	.call-container
		%h2 Global Issues - Local Action
		%p.highlight
			With economic recession all small and locally targeted projects are in danger.
		%p
			Yet there is a lot of will to keep the local action running! If you have a project,
			through LocalActors.org you can address small donors directly and world-wide. If you want
			to support a particular local project, you can choose to do so either financially, with
			human resources or your skills.
	.call-container
		%h2 Transparency and feedback
		%p.highlight
			We want to support local action because we see the purpose and the result clearly.
		%p
			At the same time we want to know what happened next; were the animals saved,
			was the school build? To join the local action, we all want to know where exactly
			the support goes and which specific benefits it brings.
	.call-container
		%h2 The Local Actor
		%p.highlight
			When you work on a local project you are a local actor.
		%p
			Want you to have access to wide and passionate support.
			We start as a small group of those not happy with the options opened for small donors - 
			little transparency, no feedback and no visibility of what my contribution has done
			is most annoying. We also know a few project which are desperately looking for funding - 
			with the economic crisis that now drives them off from public funds as well as from
			bigger non-governmental organisations (NGOs).
		%p.highlight
			When you support local action with your means you are a local actor.
		%p
			We want you to have a choice, transparency and feedback.
			Transparency, as we claim, first: <a href="/">LocalActors.org</a> is proudly founded by
			Zora Gonczarow, Michael Gonczarow, <a href="http://thedoersproject.com">The Doers Project</a>

	.call-container
		%h2 A Local Actor is you.
		%p
			If you want to browse and support projects once this function is available we will 
			inform you in due time. Our landing page is available at: <a href="/">LocalActors.org</a>.
		%p 
			Please, register for <a href="/#mailing-list">mailing list</a>.
		%p.highlight
			If you (want to) run a project and would like to enter a new phase look at our <a href="/callforprojects">Call For Projects</a> page and <a href="mailto:weare@localactors.org">get in contact</a>
		%p
			To publish your project we need description of it 60-100 words
			(what you want to achieve, when and how), support needed to accomplish the project
			(money, people, materials) and information about yourself. We will give you our dedicated
			support to prepare an attractive page on <a href="/">LocalActors.org</a> website to raise funds.


	
					

		
