%ul#projects
	%li
		%hr.spine.top
		.block-header
			.container-publisher
				%img.photo-publisher{:alt=>"", :src=>"images/publisher.png"}
				%h3.publisher Akke M. Draijer-de Jong
			.container-publisher.last
				%img.photo-publisher{:alt=>"", :src=>"images/cemara_logo.jpg"}
				%h3.ngo Foundation Kebon Sepatu
			.container-costs
				%p.costs
					<span class="number">12,500 &#128;</span> total cost / <span class="number">124</span> persons behind this project
				%a{href: 'single_project'} go to project
		.block-main
			.container-title
				%h1.title Rosella Lombok pride
				.icon-where
				%h2.subtitle Indonesia/Lombok Island
			%ul.description
				%li
					.number-list
						%p 1
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.
				%li
					.number-list
						%p 2
					%p
						For he is truly his brother's keeper and the finder of lost children.
				%li
					.number-list
						%p 3
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	%li
		%hr.spine
		.block-header
			.container-publisher.last
				%img.photo-publisher{:alt=>"", :src=>"images/publisher.png"}
				%h3.publisher Akke M. Draijer-de Jong
			.container-costs
				%p.costs
					<span class="number">12,500 &#128;</span> total cost / <span class="number">124</span> persons behind this project
				%a{href: '#'} go to project
		.block-main
			.container-title
				%h1.title Rosella Lombok pride
				.icon-where
				%h2.subtitle Indonesia/Lombok Island
			%ul.description
				%li
					.number-list
						%p 1
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.
				%li
					.number-list
						%p 2
					%p
						For he is truly his brother's keeper and the finder of lost children.
				%li
					.number-list
						%p 3
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	%li				
		%hr.spine
		.block-header
			.container-publisher.last
				%img.photo-publisher{:alt=>"", :src=>"images/publisher.png"}
				%h3.publisher Akke M. Draijer-de Jong
			.container-costs
				%p.costs
					<span class="number">12,500 &#128;</span> total cost / <span class="number">124</span> persons behind this project
				%a{href: '#'} go to project
		.block-main
			.container-title
				%h1.title South Africa dryness issue: irrigation system in uganda
				.icon-where
				%h2.subtitle Indonesia/Lombok Island
			%ul.description
				%li.mono
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.
						For he is truly his brother's keeper and the finder of lost children.
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	%li				
		%hr.spine
		.block-header
			.container-publisher.last
				%img.photo-publisher{:alt=>"", :src=>"images/publisher.png"}
				%h3.publisher Akke M. Draijer-de Jong
			.container-costs
				%p.costs
					<span class="number">12,500 &#128;</span> total cost / <span class="number">124</span> persons behind this project
				%a{href: '#'} go to project
		.block-main
			.container-title
				%h1.title South Africa dryness issue: irrigation system in uganda
				.icon-where
				%h2.subtitle Indonesia/Lombok Island
			%ul.description
				%li.mono
					%p
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.
						For he is truly his brother's keeper and the finder of lost children.
						Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
					
		

		