#single_project
	%hr.spine
	.container-main
		%h1.title Rosella Lombok pride
		.icon-where
		%h2.subtitle Indonesia/Lombok Island
		%p
			In May 2010 we would like to launch a project of starting a new production of organic Rosella tea on Lombok. Lombok is an island in Indonesia, situated next to Bali. In order to support jobs and create sustainable future for local families in the area of Ketara we need to kick-start production. We work closely with the University of Mataram and the Agricultural School in Bogor (Java) to make sure cultivation of a new plant in the area will work and the farmers are given specific training. The output of the production of organic Rosella tea - its distribution to primarily non-residential customers - will establish a small visitor's centre at the organic farm. By its "single commodity" system this will stimulate Eco Tourism on the island, where a new international airport just opened;  this is the real outcome we strive to achieve.
	%img{:alt=>"Rosella01", :src=>"images/rosella01.jpg"}
	%img{:alt=>"Rosella02", :src=>"images/rosella02.jpg"}
	%img{:alt=>"Rosella04", :src=>"images/rosella04.jpg"}
	.container-main
		%ul
			%li
				%h1.title Project Plan:
			%li
				.icon-time
				%h2.subtitle
					May
					%span / meeting local authorities at Lombok
			%li
				.icon-time
				%h2.subtitle
					June
					%span / planning Rosella
			%li
				.icon-time
				%h2.subtitle
					September
					%span / first harvest and production of tea and other products from Rosella
			%li
				.icon-time
				%h2.subtitle
					September
					%span / new Visitors Centre built and opened (event with local production)
		%ul
			%li
				%h1.title Costs:
			%li.cost
				.icon-cost
				%h2.subtitle
					800 &#128;
					%span / kick start of the Rosella planting
			%li.cost
				.icon-cost
				%h2.subtitle
					1100 &#128;
					%span / building Visitors Centre
			%li.cost
				.icon-cost
				%h2.subtitle.total
					Total: 1900 &#128;
		%p
			The foundation is putting in-kind resources of the members time and work and also resources covering their travelling from Netherlands to Lombok, including basic accommodation costs (3600 EUR for 3 Foundation representatives); in kind resources of local experts incl. university experts is also another contribution.
	%hr.dotted
	.container-main
		.photo-container
			.author-container
				%img.photo-publisher{:alt=>"", :src=>"images/publisher.png"}
				.social
					%a.twitter
					%a.facebook
					%a.linkedin
				%a.generic www.placeholderlink.com
			%img.photo-publisher{:alt=>"", :src=>"images/cemara_logo.jpg"}
		%h1.title.publisher AKKE M. DRAIJER-DE JONG
		%h2.subtitle.publisher foundation kebon sepatu
		%p
			The Foundation Kebon Sepatu is based in Netherlands and in Indonesia. It has launched already a second major project on Lombok, an island near to Bali. The families of the founders come from Lombok and the foundation is established on close work together with Indonesian and Lombok residents. Kebon Sepatu has currently twenty-seven members including voluntary staff, many of which are residents and some Board Members from the Netherlands spend several weeks a year on the island.
		%p
			The aim of Foundation Kebon Sepatu is to assist those who, through no fault of their own, but mainly through lack of choice and circumstances - have to deal with great disadvantages in educational, social, cultural, academic and economic aspects of life. The foundation is devoting its work to establishing better living condition for people on Lombok through sustainable local employment and training projects.
		%h2.subtitle.team Team:
		
	%ul.container-team
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Philipp Mainard
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Katja Seizinger
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Hanna Nicole Jackmann
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Katja Seizinger
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Hanna Nicole Jackmann
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Philipp Mainard
	%ul.container-team
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Katja Seizinger
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Hanna Nicole Jackmann
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Philipp Mainard
		%li.team-member
			%img.photo-team{:alt=>"", :src=>"images/publisher.png"}
			%a.member Katja Seizinger