%h1.terms Our Approach
#terms 
	#section
		#title WHAT IS LOCALACTORS.ORG?
		#subtitle
			LOCALACTORS.ORG IS LAUNCHED AS A SOCIAL ENTERPRISE TO HELP ANYBODY SUPPORT
			GOOD CAUSE - NON-FOR-PROFIT - PROJECTS
			AND TO HELP THOSE PROJECTS TO GET OFF THE GROUND.
		%p
			We believe in local communities and people active in them.
			They know their needs and can help themselves to care for them:
			let it be a school coach trip or a new dwell in a village. What they need
			is a little support in financing, knowledge or materials to get things going.
	#section
		#title GLOBAL ISSUES - LOCAL ACTION
		#subtitle With economic recession all small and locally targeted projects are in danger
		%p
			yet there is a lot of will to keep the local action running! If you have a project,
			through LocalActors.org you can address small donors directly and world-wide. If you want
			to support a particular local project, you can choose to do so either financially, with
			human resources or your skills.
	#section
		#title TRANSPARENCY AND FEEDBACK
		#subtitle We want to support local action because we see the purpose and the result clearly
		%p
			At the same time we want to know what happened next; were the animals saved,
			was the school build? To join the local action, we all want to know where exactly
			the support goes and which specific benefits it brings.
	#section
		#title THE LOCAL ACTOR
		#subtitle When you work on a local project you are a local actor.
		%p
			want you to have access to wide and passionate support.
			We start as a small group of those not happy with the options opened for small donors - 
			little transparency, no feedback and no visibility of what my contribution has done
			is most annoying. We also know a few project which are desperately looking for funding - 
			with the economic crisis that now drives them off from public funds as well as from
			bigger non-governmental organisations (NGOs).						
	#section
		#subtitle When you support local action with your means you are a local actor.
		%p
			We want you to have a choice, transparency and feedback.<br />
			Transparency, as we claim, first: <a href="localactors.org">LocalActors.org</a> is proudly founded by
			Zora Goncharov, Michael Goncharov, <a href="http://thedoersproject.com">The Doers Project</a>
	
	#section
		#title A LOCAL ACTOR IS YOU.
		%p
			If you want to browse and support projects once this function is available we will 
			inform you in due time. Our landing page is available at:<a href="localactors.org">LocalActors.org</a>.<br /> 
			Please, register for mailing list on our <a href="localactors.org">Home page</a>.
	
	#section
		#subtitle If you (want to) run a project and would like to enter a new phase
		#subtitle look at our home page guidance and <a href="mailto:weare@localactors.org">get in contact</a>
		%p
			To publish your project we need description of it 60-100 words
			(what you want to achieve, when and how), support needed to accomplish the project
			(money, people, materials) and information about yourself. We will give you our dedicated
			support to prepare an attractive page on <a href="localactors.org">LocalActors.org</a> website to raise funds.
	#section
		#subtitle If you know anyone who would like to use this website for his/her project,
		%p
			ask them to get in contact with us. We will help to prepare material to publish,
			to attract interest and funding.