-# coding: utf-8
.banner-container
	.banner-call
		.border1
		.border2
		.bg-dash
		.bg-white
		.icon
		%ul
			%li
				%a{href: '#'}¡En busca de nuevos proyectos!
			%li 
				%a{href: '#'}Buscamos novos projetos!
			%li
				%a{href: '#'}Yeni projeler arıyoruz!
			%li
				%a{href: '#'}Avez vous des nouveaux projets? 
			%li
				%a{href: '#'}نحن نبحث عن مشاريع جديدة
			%li
				%a{href: '#'}期待合作?