-# coding: utf-8
.banner-container
	.banner-call
		.border1
		.border2
		.bg-dash
		.bg-white
		.icon
		%ul
			%li
				%a{href: '/callforprojects', lang: 'en'}Looking for new projects!
			%li
				%a{href: '/callforprojects', lang: 'it'}Cerchiamo progetti interessanti!
			%li
				%a{href: '/callforprojects', lang: 'es'}¡En busca de nuevos proyectos!
			%li 
				%a{href: '/callforprojects', lang: 'pt'}Buscamos novos projetos!
			%li
				%a{href: '/callforprojects', lang: 'tr'}Yeni projeler arıyoruz!
			%li
				%a{href: '/callforprojects', lang: 'fr'}Avez vous des nouveaux projets? 
			%li
				%a{href: '/callforprojects', dir:'rtl', lang:'ar'}نحن نبحث عن مشاريع جديدة
			%li
				%a{href: '/callforprojects', lang: 'zh'}期待合作