%h1.vision 
	LocalActors.org is an online tool to help anybody support good cause projects and to help projects to get off the ground. People and not for profit organisations post projects on our website from all corners of the world. You can search, choose and support by giving any amount you wish to those who inspire you.
	<br />Global problems can be solved by local actors.