%ul
	%li
		%h2 
			supporter / 
			%span You want to give for a good cause.
		%p 
			You might like a specific topic or a country. You want 
			direct link to projects and transparency. Local actors give 
			you choice and feedback on your support.
	%li
		%h2 
			publisher / 
			%span You know a good cause.
		%p 
			You run a project or have one in mind. You need funding 
			or other forms of support. Local actors give you contact with 
			large pool supporters and help you to market your idea.
