%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Questions and answers<br />
		%span.subtitle ask a question

%section.faq
	%ul#faq_accordion.questions
		%li
			%h3
				%i
				%span.hl Who can publish a project?
			%p 
				Anybody can publish a project. You can be a registered NGO 
				(non-governmental organisation), other organisation or a single 
				local actor taking on a project. As a PUBLISHER you register yourself 
				and prepare your project. We will give you all our support in doing that. 
				When you are ready, you publish your project and launch your pledge for support.
		%li
			%h3
				%i
				%span.hl How does it work with money?
			%p 
				Every project publisher sets their project's funding goal
				(support needed to get the project going) and deadline. If
				SUPPORTERS like the project, they can pledge money to make it happen.
				If the project succeeds in reaching its minimum funding goal (typically less
				then 100% when scalability of needs apply; we help to identify it depending on the
				type of a project), all supporters' credit cards are charged by the set deadline. If the
				project falls shorter than that, no one is charged.
				If a project is successfully funded, LocalActors.org applies a 4%
				fee to the funds collected.
		%li
			%h3
				%i
				%span.hl What is my guarantee?
			%p 
				There is a high degree of transparency in publishing the project and feedback
				on progress. At the same time all community can post their comments and references
				in the visitors' book of each project. Your guarantee is the community.
				Good cause projects can start small and grow. We recommend taking all projects step
				by step and phasing the funding needed. We give each project dedicated support in
				planning and monitoring. Your guarantee is the direct link between the supporter and the project.
		%li
			%h3
				%i
				%span.hl What do I get from being a supporter?
			%p
		%li
			%h3
				%i
				%span.hl How can I support?
			%p 	
		%li
			%h3
				%i
				%span.hl Why should I choose LOCAL ACTORS for my project?
			%p 	
		%li
			%h3
				%i
				%span.hl When will the service be available?
			%p 	
		%li
			%h3
				%i
				%span.hl When will the service be available?
			%p
		%li
			%h3
				%i
				%span.hl What kind of projects can I submit?
			%p 
				
				
	%h4.buttons.clear
		%a{:href=>"mailto:weare@localactors.org"} Ask a question