%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Questions and answers<br />
		%span.subtitle ask a question

%section.faq
	%ul#faq_accordion.questions
		%li
			%h3
				%i
				%span.hl Who can publish a project?
			%p 
				Anybody can publish a project. You can be a registered NGO 
				(non-governmental organisation), other organisation or a single 
				local actor taking on a project. As a PUBLISHER you register yourself 
				and prepare your project. We will give you all our support in doing that. 
				When you are ready, you publish your project and launch your pledge for support.
		%li
			%h3
				%i
				%span.hl How does it work with money?
			%p 
				Every project publisher sets their project's funding goal
				(support needed to get the project going) and deadline. If
				SUPPORTERS like the project, they can pledge money to make it happen.
				If the project succeeds in reaching its minimum funding goal (typically less
				then 100% when scalability of needs apply; we help to identify it depending on the
				type of a project), all supporters' credit cards are charged by the set deadline. If the
				project falls shorter than that, no one is charged.
				If a project is successfully funded, LocalActors.org applies a 4%
				fee to the funds collected.
		%li
			%h3
				%i
				%span.hl What is my guarantee?
			%p 
				There is a high degree of transparency in publishing the project and feedback
				on progress. At the same time all community can post their comments and references
				in the visitors' book of each project. Your guarantee is the community.
				Good cause projects can start small and grow. We recommend taking all projects step
				by step and phasing the funding needed. We give each project dedicated support in
				planning and monitoring. Your guarantee is the direct link between the supporter and the project.
		%li
			%h3
				%i
				%span.hl What kind of projects can I submit?
			%p
				We support local action and we are willing to publish good cause - non-for-profit - projects 
				to help them get off the ground. Let it be a school coach trip, a new dwell in a village or a 
				new service to help local community. You can submit any projects in line with our vision and in 
				need of  little support in financing, knowledge or materials to get things going.
		%li
			%h3
				%i
				%span.hl Why should I choose Local Actors for my project?
			%p 	
				If you have a project, through LocalActors.org you can address small donors directly and world-wide 
				to get fundings or other forms of support. Few of such websites exist, but none is focusing on local 
				non-for-profit projects while giving a chance to wide range of set-ups. LocalActors.org puts 
				you in contact with a large pool of passionate supporters and helps you market your idea.
		%li
			%h3
				%i
				%span.hl When will the service be available?
			%p 	
				Currently LocalActors.org founding team and supporters are gathering first projects and getting in 
				touch with a kick-off community of users. During the early spring a beta-test with self-registration 
				of projects on the website will be held and in Spring will be going live! In the meanwhile you can 
				already submit a project. LocalActors.org will process it, share it with different supporters and
				your project will be among the first being published. 
		%li
			%h3
				%i
				%span.hl How can I support?
			%p
				If you want to support a particular local project, you can choose to do so either financially, with 
				human resources or your skills.
		%li
			%h3
				%i
				%span.hl What do I get from being a supporter?
			%p
				We start as a small group of those not happy with the options opened for small donors - little 
				transparency, no feedback and no visibility of what my contribution has done. As a supporter to 
				the local action we will make sure you will have all of that, letting you know where exactly the 
				support goes and which specific benefits it brings.
	.clear-box
	.button_container			
		.corner_left
		%h4.buttons.yellow_button
			%a{:href=>"mailto:weare@localactors.org"} Ask a question
		.corner_right
	
