#logo
	%a.logo{href: '/'}
		%span.sone
		%span.zero
		%span.stwo
		%span.one
		%span.sthree
		%span.two
		%span.sfour
		%span.three
		%span.stwo
	#spiagezione
		%h2 HOW MANY LOCAL ACTORS
		%p When you succed, the project gets going and you bec0me local actor

		
	
.blue		
	%ul 
		%li.nline
			%span /
			%p P.IVA 323579891 /
		%li.nopadding
			%a{href: 'mailto: weare@localactors.org'} contact us 
			%span /
		/
			%li
				%a{href: 'c'} download paper
				%span /
			
		%li
			%a{:href => 'http://www.iubenda.com/privacy-policy/300072', :class => "iubenda-white iubenda-embed", :title => "Privacy Policy"}Privacy Policy
			%script{:type => "text/javascript"}
				(function (w,d) {var loader = function () {var s = d.createElement("script"), 
				tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; 
				tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}
				else if(w.attachEvent){w.attachEvent("unload", loader);}else{w.onload = loader;}})(window, document);
			
		%li.nline.nopadding
			%p proudly designed by 
			%a{href: 'http://thedoersproject.com'} thedoers
	.rights
		%a{:rel=>"license",:href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/"}
			%img{:alt=>"Creative Commons License", :style=>"border-width:0", :src=>"http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"}
		%p If not otherwise specified all content of this website is subject to the following license:
		%a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/"}Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.