%ul 	%li.nline		%p P.IVA 323579891 /	%li.nopadding		%a{href: 'c'} contact us 
		%span /	%li		%a{href: 'c'} download paper
		%span /	%li		%a{href: 'c'} privacy policy
		%span /	%li.nline.nopadding		%p proudly designed by 		%a{href: 'c'} thedoers