#logo
	%a.logo{href: 'c'}
		%span.stripe.one
		%span.num.zero
		%span.stripe.two
		%span.num.one
		%span.stripe.three
		%span.num.two
		%span.stripe.four
		%span.num.three
		%span.stripe.two
		%span.num.four
		%span.stripe.four
		%span.num.five
		%span.stripe.three
		%span.num.six
		%span.stripe.two
		%span.num.seven
		%span.stripe.one
		%span.num.eight
		%span.stripe.two
		%span.num.nine
		%span.stripe.four
		
		%span.logo_text
%nav
	%a{href: 'c'} Subscribe
	%a{href: 'c'} Ask
	%a{href: 'c'} Submit
#paper
	%span.pdf_icon PDF icon
	%span.label Download PDF
#socials