#logo
	%a.logo{href: 'c'}
		%span.sone
		%span.zero
		%span.stwo
		%span.one
		%span.sthree
		%span.two
		%span.sfour
		%span.three
		%span.stwo
		/
			%span.num.four
			%span.stripe.four
			%span.num.five
			%span.stripe.three
			%span.num.six
			%span.stripe.two
			%span.num.seven
			%span.stripe.one
			%span.num.eight
			%span.stripe.two
			%span.num.nine
			%span.stripe.four
		
		%span.logo_text
%nav-header
	%ul
		%li
			%a.submit{href: '#'} Who we are
		%li
			%a.submit{href: '#'} Call for proposal
		%li
			%a.subscribe{href: '#'} Subscribe to mailing list
		%li
			%a.ask{href: '#'} Ask a question
		%li
			%a.submit{href: '#'} Submit a project
/
	#paper
		%span.pdf_icon PDF icon
		%a{href: 'c'} Download PDF
	#socials