#logo
	%a.logo{href: '/'}
		/
			%span.sone
			%span.zero
			%span.stwo
			%span.one
			%span.sthree
			%span.two
			%span.sfour
			%span.three
			%span.stwo
		
			%span.num.four
			%span.stripe.four
			%span.num.five
			%span.stripe.three
			%span.num.six
			%span.stripe.two
			%span.num.seven
			%span.stripe.one
			%span.num.eight
			%span.stripe.two
			%span.num.nine
			%span.stripe.four
		
		%span.logo_text
%nav.navigation
	%ul
		%li
			%a.who{href: '/whoweare'} Our Approach
		%li
			%a.call{href: '/callforprojects'} Call for projects
		%li
			%a.subscribe{href: '/#mailing-list'} Subscribe to mailing list
		%li.nopadding
			%a.ask{href: '/#faq'} Ask a question
		%li
			%a.think{href: '/#think'} Think
		%li
			%a.submit{href: '/#submit'} Submit a project
		%li.nopadding
			%a.publish{href: '/#publish'} Publish
/
	#paper
		%span.pdf_icon PDF icon
		%a{href: '#'} Download PDF
	#socials