.spined
%header
	%a{href: 'c'}
		%span.icon
	
	%h2.section_title
		%span.hl 
			&rarr; 
			%span.ul SUBSCRIBE TO MAILING LIST
		AND BECOME A LOCAL ACTOR

%section.mailing_list
	#icon1
	#spiegazione
		%p  You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a 		
	#icon2
	#spiegazione
		%p  You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a 
