#slides
	= image_tag('world1.png')
	= image_tag('world1.png')
	= image_tag('world2.png')

%ul
	%li
		#title
			#arrow1
			%h4 From Local <br> /subtitle
		%p bla bla bla bla bla bla
	%li
		#title
			#arrow2
			%h4 To global <br> /subtitle
		%p bla bla bla bla bla bla
	%li
		#title
			#arrow3
			%h4 localactors <br> /subtitle
		%p bla bla bla bla bla bla a a aaa aaaaaaa aa aaaaaa