#slides
	%ul
		%li.slide1
			= image_tag('world1-mobile.png', "data-src980" => image_path('world1.png'))
		%li.slide2
			= image_tag('world2-mobile.png', "data-src980" => image_path('world2.png'))
		%li.slide3
			= image_tag('world3-mobile.png', "data-src980" => image_path('world3.png'))

#steps
	#arrow_left
	#text
		%ul
			%li.step1
				#arrow1
				#title
					%h4 From local
					%p You see a need and figure out a project. Either you run one or you find one to support.
			%li.step2
				#arrow2
				#title
					%h4 To global
					%p You publish and get in touch with supporters. Through local actors the project gets funding, resources and ideas.
			%li.step3
				#arrow3
				#title
					%h4 You become a local actor
					%p When you succeed, the project gets going and you become a local actor.
	#arrow_right

%h1.vision 
	We all know where the need is. We look for opportunity to be of use and there is no better way than help locally
.banner-call
	.border1
	.border2
	.bg-dash
	.bg-white
	.icon
	%a{href: '#'} Nous sommes a la recherche de nouveaux projets!