#slides
	= image_tag('world1.png')
	= image_tag('world1.png')
	= image_tag('world2.png')

%ul
	%li
		%h4 From Local To global
		%p bla bla bla bla bla bla
	%li
		%h4 From Local To global
		%p bla bla bla bla bla bla
	%li
		%h4 From Local To global
		%p bla bla bla bla bla bla a a aaa aaaaaaa aa aaaaaa