#slides
	%ul
		%li.slide1
			= image_tag('world1-mobile.png')
		%li.slide2
			= image_tag('world2-mobile.png')
		%li.slide3
			= image_tag('world3-mobile.png')

#steps
	#arrow_left
	#text
		%ul
			%li.step1
				#title
					#arrow1
					%h4 From Local <br> /subtitle
				%p bla bla bla bla bla bla
			%li.step2
				#title
					#arrow2
					%h4 To global <br> /subtitle
				%p bla bla bla bla bla bla
			%li.step3
				#title
					#arrow3
					%h4 localactors <br> /subtitle
				%p bla bla bla bla bla bla a a aaa aaaaaaa aa aaaaaa
	#arrow_right