supporter
	%p
		%span.blue supporter / 
		%span.rose blessed is who
		Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact 
.publisher
	%p
		%span.blue supporter / 
		%span.rose blessed is who
		Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact 
