%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul PUBLISH<br />
		%span.subtitle AS SOON AS WE LAUNCH THE PLATTFORM prova testo lungo

%section.mailing_list
	#icon
	#spiegazione
		%p  
			We read, get back to you and will help you to create an attractive
			page on the localactors.org so you can raise funds, accomplish what you intend and keep
			others informed about your activities. You publish your project and set a deadline to raise support.
		%p.i
			EXAMPLE: You what to go on a trip on 20 June, you prepare your details in March, publish
			on 20 April and set a deadline of 30 May to raise funds.
		#icon-doc3	