%header
	%a{href: '/'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Publish<br />
		%span.subtitle as soon as we launch the platform

%section.mailing_list
	#icon
	#spiegazione
		%p  
			We read, get back to you and will help you to create an attractive
			page on the localactors.org so you can raise funds, accomplish what you intend and keep
			others informed about your activities. You publish your project and set a deadline to raise support.
		#icon-doc3	