%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul PUBLISH
		AS SOON AS WE LAUNCH THE PLATTFORM

%section.mailing_list
	#icon
	#spiegazione
		%p  
			If you want to browse and support projects once this function is available
			or want to be informed about the roll out, register your e-mail address and wait 
			for the next steps. More to come soon we promise! 		