%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr;
			%span.ul SUBMIT A PROJECT
		<br />HOW?
%section.submit
	#icon-number1
	#spiegazione
		%h4 name project
		%p  You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a 		
	#icon-number2
	#spiegazione
		%h4 name project
		%p  You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a 
	#icon-number3
	#spiegazione
		%h4 name project 
		%p  You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a 
	#icon-doc1
	#icon-plus1
	#icon-doc2
	#icon-plus2
	#icon-doc3
