%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Submit a project<br />
		%span.subtitle how
		
%section.submit
	#spiegazione
		%p
			Write about your project and yourself, take pictures and send all details to us on...
		
	#icon-doc2
	.button_container			
		.corner_left
		%h4.buttons.yellow_button
			%a{:href=>"mailto:weare@localactors.org"} Get in contact
		.corner_right