%header
	%a{href: '/'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Submit a project<br />
		%span.subtitle how
		
%section.submit
	#spiegazione
		%p
			Write about your project and yourself, take pictures and send all details to us on...
		
	
		.button_container			
			.corner_left
			%h4.buttons.yellow_button
				=partial "layouts/submit_email"
			.corner_right