%header
	%a{href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr;
			%span.ul SUBMIT A PROJECT
		HOW
		
%section.submit
	#spiegazione
		%p
			Write about your project and yourself, take pictures and send all details to us on ...<br /><br />
			%i
				EXAMPLE: Picture of you as the publisher and the group of kids or the school or the
				club where they are from will make your project specific and will get you more support.
				Your location will get you on the LocalActors.org map so anybody wishing to support your
				area will easily find you.
		
		#icon-doc2
		%h4.buttons
			%a{:href=>"mailto:weare@localactors.org"} Get in contact