%header
	%a{href: '/'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Think about your project<br />
		%span.subtitle requirements, benefits and guidelines

%section
	#spiegazione
		%p
			What is your goal? What do you want to achieve and when? How much it
			will costs and what other support you may need (perhaps, some materials, teachers etc.)?
			Keep it simple, keep it phased. Plan for a year and say what you achieve
			in each quarter. Project of 500 EUR will be easier to fund than a project
			of 2000 EUR. Think through what you need most.
		%p.i
			EXAMPLE: If you want to take 40 kids on a day coach trip, explain why
			they should go - what they get from the trip, how your choose the 40,
			when is the trip expected to take place and calculate the price of
			the trip (coach with the driver or also anything else?)
			
		.clear-box
		.button_container			
			.corner_left
			%h4.buttons.yellow_button
				%a{:href=>"/callforprojects"} Look guidelines
			.corner_right
		